backports.tempfile
coverage
ddt>=1.1.1,<=1.6.0; python_version =='2.7'
ddt>=1.1.1; python_version>'3.0'
flake8
mock; python_version=='2.7'
nose
pathlib2; python_version=='2.7'
six
tox
virtualenv
contextlib2
